body{
		background-color: #1f0023;
}

.fist-window{
	background-color: #1f0023;
	height: 690px;
	h1 {
		color:white;
	}
	p {color: white;}
	.flex{
		display: -webkit-flex; 
		display: flex; 
		justify-content: flex-end;
	}
	.box-one{
		padding: 15% 8%;
		img{
			position: absolute;
		}
		#i1{
			margin: -14% 0 0 -17%;
		}

		#i2{
			margin: -17% 1%;
		}

		#i3{
			margin: 1% 14%;
		}

		#i4{
			margin: 4% 0% 0% -17%;
			transform: rotate(230deg);
		}
	}
}

